/bootstrap/compiled.php
/vendor
/pubic/js-old/
/public/system/Insight/
*.iml
.idea/
.idea/*
.idea/encodings.xml
.idea/misc.xml
composer.phar
.env.*.php
.env.php
environment.php
.DS_Store
Thumbs.db
/nodes_modules/
tests/_output/*
/app/config/insight.php